/* CSS Document */
/*    box-shadow: 0 3px 20px #c5c5c6; /*Box nav menu*/
/* background: #333; */
/* background: #f4f4f4; */
/* #imageLogo{
	
	width: min(6.0882800608828vh, 200px);
	margin-right: 10px;
} */
/* CSS Document */

@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Bree+Serif);

body {
	overflow-x: hidden;
	margin: 0;
	padding: 0;
    background: #f4f4f4;
	background-image: url("https://static.tumblr.com/yanmx0m/nwElffuod/cinza.gif");
	
	font-size:22px;
	line-height: 35px;
	word-wrap:break-word ;
    font-family: Montserrat, Helvetica, sans-serif;
}

h1 {
	font-size: 60px;
	text-align: center;
	color: #FFF;
}	

h3 {
	font-size: 30px;
	line-height: 34px;
	text-align: center;
	color: #FFF;
}

h3 a {
	color: #FFF;
}

a {
	color: #FFF;
}

h1 {
	margin-top: 100px;
	text-align:center;
	font-size:60px;
	line-height: 70px;
	font-family: 'Bree Serif', 'serif';
	}

#container {
	margin: 0 auto;
	max-width: 890px;
}

p {
	text-align: center;
}

.toggle,
[id^=drop] {
	display: none;
}

/* Giving a background-color to the nav container. */
nav { 
	margin:0;
	padding: 0;
	background-color: #fafafa;
    box-shadow: 0 3px 20px #c5c5c6; /*Box nav menu*/
	display: flex;
  	justify-content:space-around;
  	align-items: center;
}


#imageLogo{
	
	width: min(6.0882800608828vh, 200px);
	/* margin-right: 10px; */
}


#logo{
	font-family: Roboto Flex, sans-serif;
	font-size: 26px;
	color: #333;
	font-weight: bolder;
}
/* Since we'll have the "ul li" "float:left"
 * we need to add a clear after the container. */

nav:after {
	content:"";
	display:table;
	clear:both;
}

/* Removing padding, margin and "list-style" from the "ul",
 * and adding "position:reltive" */
nav ul {
	float: right;
	padding:0;
	margin:0;
	list-style: none;
	position: relative;
}
	
/* Positioning the navigation items inline */
nav ul li {
	margin: 0px;
	display:inline-block;
	background-color: none;
    
}

/* Styling the links */
nav a {
	display:block;
	padding:14px 20px;	
	color: #414141;
	font-size:16px;
    text-decoration: none;
	justify-content: space-evenly;
    
}
.hover-underline-animation{
    display: inline-block;
    position: relative;
  }

  .hover-underline-animation ul li::after {
    content: "";
    display: block;
    position: relative;
    bottom: -3px;
    width: 100%;
    height: 1px;
    transform: scaleX(0);
    transform-origin: left;
    background: #333;
    transition: transform 0.3s ease-out;
  }
  
  .hover-underline-animation ul li:hover:after {
    transform: scaleX(1)
  }


nav ul ul {
	display: none;
	position: absolute; 
	/* has to be the same number as the "line-height" of "nav a" */
	top: 74px; 
}
	
/* Display Dropdowns on Hover */
nav ul li:hover > ul {
	display:inherit;
}

nav ul ul li a{
	cursor:alias;
	color:rgb(160,7,7);
	font-size: 22px;
	padding-top:5%;
	padding-bottom: 0;
}
/* First Tier Dropdown */
nav ul ul li {
	height: 4%;
	width:180%;
	float:none;
	display:list-item;
	position: relative;
}

/* Second, Third and more Tiers	
 * We move the 2nd and 3rd etc tier dropdowns to the left
 * by the amount of the width of the first tier.
*/
nav ul ul ul li {
	position: relative;
	top:-60px;
	/* has to be the same number as the "width" of "nav ul ul li" */ 
	left:170px; 
}

	
/* Change ' +' in order to change the Dropdown symbol */
li > a:after { content:  ''; }
li > a:only-child:after { content: ''; }

.bloc{
	width:85%;
	height: 50%;
	background-color: rgb(217,217,217);
	margin: 20% auto 0;
	transition: 0.5s;
}
.bloc p {
	font-size: 1.3em;
}
	

.open + .hover-underline-animation {
	width: 100%;
  }

/* Media Queries */
@media  screen and (max-width:79%) {
	.bloc{
		width:90%;
	}
}

@media all and (max-width : 768px) {


	#logo {
		display: block;
		padding: 0;
		text-align: center;
		float: none;
		margin: 0 auto;
	}

	nav {
		
		margin: 0;
	}
	nav a {
		text-decoration: none;
		font-size: 1.1em;
		font-family: Verdana, Geneva, Tahoma, sans-serif;
	}
	
	/* Hide the navigation menu by default */
	/* Also hide the  */
	.toggle + a,
	.menu {
        display: none;
	}

	
	.toggle {
		display: block;
		font-size: 1.1em;
		font-family: Verdana, Geneva, Tahoma, sans-serif;
		padding:14px 20px;	
		color:#333;
		
	}

	/* Display Dropdown when clicked on Parent Lable */
	[id^=drop]:checked ~ .hover-underline-animation > ul,  [id^=drop]:checked + ul{
        display: block;
    }

	/* Change menu item's width to 100% */
	nav ul li {
		display: block;
		width: 100%;
		}

	nav ul ul .toggle,
	nav ul ul a {
		
		padding: 0 4px;
	}

	nav ul ul ul a {
		padding: 0 80px;
	}


	nav ul li ul li .toggle,
	nav ul ul a,
  nav ul ul ul a{
		padding:14px 20px;	
		color:#FFF;
		font-size:17px; 
	}
  
  
	nav ul li ul li .toggle,
	nav ul ul a {
		color: rgb(160,7,7); 
	}

	/* Hide Dropdowns by Default */
	nav ul ul {
		float: none;
		position:static;
		color: none;
		/* has to be the same number as the "line-height" of "nav a" */
	}
		
	/* Hide menus on hover */
	nav ul ul li:hover > ul,
	nav ul li:hover > ul {
		display: none;
	}
		
	/* Fisrt Tier Dropdown */
	nav ul ul li {
		display: block;
		width: 100%;
	}

	nav ul ul ul li {
		position: static;
		/* has to be the same number as the "width" of "nav ul ul li" */ 

	}

	.bloc{
		border-radius: 25px;
	}
	.bloc p{
		font-size: 1.4em;
		color: red;
		font-family: 'Verdana', Courier, monospace;
	}
}
